@import "../../css/_mixins.scss";
@import "../../css/_theme-vars.scss";


@media #{$media_lg} {
	/* Blog layout: Excerpt */
	.post_layout_excerpt .post_header .post_price {
		@include font(2em, 1.5em);
	}
	.post_layout_excerpt.sticky {
		padding: 2em;
	}
}


@media #{$media_md} {
	/* Blog layout: Excerpt */
	.post_layout_excerpt .post_header .post_price {
		@include font(1.75em, 1.5em);
	}
}


@media #{$media_sm} {
	/* Blog layout: Excerpt */
	.post_layout_excerpt + .post_layout_excerpt {
		margin-top: 4em;
	}
	.post_layout_excerpt:not(.sticky) + .post_layout_excerpt:not(.sticky) {
		padding-top: 4em;
	}
	.post_layout_excerpt .post_header .post_price {
		position:static;
		right: auto;
		top: auto;
		margin-top:0.3em;
	}
}
